<!DOCTYPE html>
<html lang="en">
<head>
    <title>In(Formation)</title>
    <link rel="stylesheet" media="screen" href="/static/bootstrap.min.css"> 
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    <div class="jumbotron" style="background-color: #323d36">
        <div class="container" style="background-color:#323d36">
            <div class="row">
                <div class="col">
                    <h1 class="display-5" style="color:lightslategray; text-align: center;">
                    We predict that this player is from class:
                    <br>
                        <h1 style="color: lightslategray; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;;">
                            {{ predicted_class }}
                        </h1>
                    </h1>
                    <br>
    <div class="container" style="background-color:#323d36">
        <div class="row">
            <div class="col">
                <div class="card-" style="width: 18rem; height: 32rem; background-color: lightslategray;">
                    <img class="card-img-top" src="static/kalidou_koulibaly.jpg" alt="Kalidou Koulibaly" height="175">
                    <div class="card-body">
                        <h5 class="card-title">Kalidou Koulibaly</h5>
                        <p class="card-text">The Senegalese international has physical prowess over his opposition most days, but his ability to pass and read the game make him deployable all over the field.</p>
                        <a href="https://www.youtube.com/watch?v=bK2ZYXBRBpo" class="btn btn-primary">Highlights</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 32rem; background-color: lightslategray">
                    <img class="card-img-top" src="static/niklas_sule.jpeg" alt="Niklas Sule" height="175">
                    <div class="card-body">
                        <h5 class="card-title">Niklas Sule</h5>
                        <p class="card-text">Germany's next generational defender lacks no physicallity in his game. Bayern Munich has developed him into a highly intelligent player who can start build up play, a true modern defender.</p>
                        <a href="https://www.youtube.com/watch?v=FE_lzpqUieQ" class="btn btn-primary">Highlights</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 32rem; background-color: lightslategray">
                <img class="card-img-top" src="static/daniele_rugani.jpg" alt="Daniele Rugani" height="175">
                    <div class="card-body">
                        <h5 class="card-title">Daniele Rugani</h5>
                        <p class="card-text">Not the most mobile or fast of players, his intelligence and anticipation make him a force on both ends of the pitch.</p>
                        <a href="https://www.youtube.com/watch?v=AvdJ2YNweLg" class="btn btn-primary">Highlights</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
            <div class="row justify-content-md-center">
                <a href="/" class="btn btn-primary">Predict Another Player</a>
              </div>
            </div>
          </div>
</body>
</html>