<!DOCTYPE html>
<html lang="en">
<head>
    <title>Football Player Prediction</title>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    <div class="jumbotron" style="background-color: #323d36">
        <div class="container" style="background-color:#323d36">
            <div class="row">
                <div class="col">
                    <h1 class="display-5" style="color:lightslategray; text-align: center;">
                    We predict that this player is from class:
                    <br>
                        <h1 style="color: lightslategray; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;;">
                            {{ predicted_class }}
                        </h1>
                    </h1>
                    <br>
    <div class="container" style="background-color:#323d36">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem; height: 24rem; background-color: lightslategray;">
                    <img class="card-img-top" src="static/kalidou_koulibaly.jpg" alt="Kalidou Koulibaly">
                    <div class="card-body">
                        <h5 class="card-title">Kalidou Koulibaly</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Highlights</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 24rem; background-color: lightslategray">
                    <img class="card-img-top" src="static/niklas_sule.jpg" alt="Niklas Sule">
                    <div class="card-body">
                        <h5 class="card-title">Niklas Sule</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Highlights</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 24rem; background-color: lightslategray">
                <img class="card-img-top" src="static/daniele_rugani.jpg" alt="Daniele Rugani">
                    <div class="card-body">
                        <h5 class="card-title">Daniele Rugani</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Highlights</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="/">Predict Another Player</a>
</body>
</html>