<!DOCTYPE html>
<html lang="en">
<head>
    <title>Football Player Prediction</title>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    <div class="jumbotron" style="background-color: #323d36">
        <div class="container" style="background-color:#323d36">
            <div class="row">
                <div class="col">
                    <h1 class="display-5" style="color:lightslategray; text-align: center;">
                    We predict that this player is from class:
                    <br>
                        <h1 style="color: lightslategray; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;;">
                            {{ predicted_class }}
                        </h1>
                    </h1>
                    <br>
    <div class="container" style="background-color:#323d36">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem; height: 32rem; background-color: lightslategray;">
                    <img class="card-img-top" src="static/lionel_messi.jpg" alt="Lionel Messi" height="175">
                    <div class="card-body">
                        <h5 class="card-title">Lionel Messi</h5>
                        <p class="card-text">Agile, creative, with a nose for goal. The ability to both finih and set teammates up has made Messi the talisman of Barcelona for over a decade.</p>
                        <a href="https://www.youtube.com/watch?v=CHxcViQsltk" target="_blank" class="btn btn-primary">Highlights</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 32rem; background-color: lightslategray">
                    <img class="card-img-top" src="static/cristiano_ronaldo.jpg" alt="Cristiano Ronaldo" height="175">
                    <div class="card-body">
                        <h5 class="card-title">Cristiano Ronaldo</h5>
                        <p class="card-text">One of the best finishers in the world. Powerful shots, pace, and an array skills with the ball at his feet make him a nightmare for defenders.</p>
                        <a href="https://www.youtube.com/watch?v=FsvPQO84Fs4" target="_blank" class="btn btn-primary">Highlights</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 32rem; background-color: lightslategray">
                <img class="card-img-top" src="static/mohamed_salah.jpg" alt="Mohamed Salah" height="175">
                    <div class="card-body">
                        <h5 class="card-title">Mohamed Salah</h5>
                        <p class="card-text">The Egyptian King! Blistering speed and unwillingness to be taken down allows to get in excellent positions for Salah to unload his array of shots.</p>
                        <a href="https://www.youtube.com/watch?v=hGGuFWkZ1A8" target="_blank" class="btn btn-primary">Highlights</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
            <div class="row justify-content-md-center">
                <a href="/" class="btn btn-primary">Predict Another Player</a>
              </div>
            </div>
          </div>
    
</body>
</html>